# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# OS
.DS_Store
.data

# logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# turbo
.turbo

# IDEs and editors
/.idea
/.vscode

